@media (max-width: 1200px) {

}
@media (max-width: 991px) {
   .title_left  {
      font-size: 32px;
      line-height: 52px;
   }
}
@media (max-width: 767px) {
   .header__logo {
      width: 195px;
   }
   .header__logo img {
      width: 90%;
   }
   .header__phone {
      font-size: 16px;
   }
   .promo__wrapper {
      align-items: center;
   }
   .advantages__wrapper {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .advantages__item {
      max-width: 450px;
   }
   .advantages__icon {
      margin-top: 20px;
   }
   .advantages__subtitle {
      margin-top: 10px;
   }
   .advantages__descr {
      margin-top: 10px;
   }
   .title_left {
      font-size: 25px;
      line-height: 45px;
   }

}
@media (max-width: 575px) {
   .header__official {
      display: none;
   }
   .header__logo {
      width: 220px;
   }
   .promo__header {
      font-size: 28px;
      line-height: 28px;
   }
   .promo__subheader {
      font-size: 16px;
   }
   .promo__icons {
      width: 350px;
   }
   .title {
      font-size: 25px;
   }
   .title_left {
      text-align: center;
      line-height: 40px;
      br {
         display: none;
      }
   }
   .consultation__descr {
      text-align: center;
      font-size: 18px;
      br {
         display: none;
      }
   }
   .feed-form {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      margin-top: 25px;
   }
}
  

