.promo {
   min-width: 650px;
   padding: 21px 0 93px 0;
   background: url(../../img/main_bg.jpg) center (center/cover) no-repeat;
   &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-top: 91px;
   }
   &__header {
      margin: 0;
      font-weight: 700;
      font-size: 42px;
      text-transform: uppercase;
      color: #FFFFFF;
   }
   &__subheader {
      margin: 0;
      margin-top: 17px;
      font-weight: 500;
      font-size: 24px;
      text-transform: uppercase;
      color: #FFFFFF;
   }
   &__icons {
      margin-top: 60px;
      width: 425px;
      display: flex;
      justify-content: space-between;
   }
   &__icon {
      width: 108px;
      text-align: center;
      font-weight: 500;
      font-size: 12px;
      color: #FFFFFF;
      img {
         display: block;
         margin: 0 auto;
         margin-bottom: 20px;
      }
   }

   &__link {
      margin-top: 13px;
      font-weight: 500;
      font-size: 16px;
      color: #FFFFFF;
      a {
         text-transform: uppercase;
         color: #FFFFFF;
         text-decoration: underline;
       }
   }
}